/* Cambiado completamente por Isaac Ch. */

/* Estilos de la barra de navegación del comprador*/
.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 300px;
}

#logoFeriaCnp {
	width: 200px;
	margin-left: 45px;
}

.carrito {
	display: flex;
	font-family: 'Cabin', sans-serif;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 300px;
}

#textoCuenta {
	text-decoration: none;
	color: #000000;
	font-size: 21px;
	display: flex;
	align-items: center;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right: 3px solid black;
	margin-right: 10px;
}

#textoCuenta svg {
	margin-left: 5px;
}

#logoCarrito {
	max-width: 100px;
}

.carrito-container {
	display: flex;
	align-items: center;
	text-decoration: none !important;
}

#cantidadItemsCarrito {
	color: white !important;
	margin-left: 5px;
	background-color: red;
	padding: 3px 7px;
	border-radius: 7px;
}

.navegacion {
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.barra-navegacion {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #000000;
}

.botones-navegacion {
	font-family: 'Cabin', sans-serif;
	font-size: 21px;
}

.barra-busqueda {
	margin-bottom: 15px;
}

#inputBusqueda {
	width: 550px;
}

.barra-navegacion nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.barra-navegacion nav ul li {
	display: inline;
}

.barra-navegacion nav ul li a {
	color: #000000;
	text-decoration: none;
	margin: 0px 20px;
}

.barra-busqueda input[type='text'] {
	font-family: 'Cabin', sans-serif;
	font-size: 18px;
	padding: 10px;
	width: 300px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-right: 10px;
}

.barra-busqueda button {
	font-size: 18px;
	font-family: 'Cabin', sans-serif;
	padding: 10px 20px;
	background-color: #81b12a;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* Estilos de la barra de navegación: final para comprador */

body {
	font-family: 'Manrope', sans-serif;
}

select {
	font-family: 'Manrope', sans-serif;
}

button {
	font-family: 'Manrope', sans-serif;
}

.seccion-titulo {
	background-color: lightgray;
	margin-bottom: 40px;
	padding: 20px;
}

.titulo {
	font-weight: bold;
	font-size: 30px;
}

.container {
	width: 100%;
	max-width: 1400px;
	margin-right: auto;
	margin-left: auto;
}

.container-flex {
	display: flex;
	justify-content: space-between;
}

.row-flex {
	display: flex !important;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 30px;
	width: 1000px;
}

.caja-flex-producto {
	display: flex;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
	padding: 30px;
	border-radius: 5px;
	height: 130px;
	width: 40%;
}

.datos-producto {
	display: flex;
	align-items: center;
}

.titulo-producto {
	font-weight: bold;
	font-size: 30px;
}

.descripcion-producto {
	font-size: 20px;
}

.img-producto-container {
	width: 120px;
	height: 120px;
	overflow: hidden;
	margin-right: 30px;
}

.img-producto-container img {
	height: 100%;
	width: 100%;
	border-radius: 5px;
	object-fit: cover;
	object-position: center;
}

.container-boton-remover {
	margin-left: auto;
}

.boton-remover {
	background-color: red;
	color: white;
	padding: 8px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.boton-remover:hover {
	background-color: rgb(169, 0, 0);
}

.columna-flex {
	display: flex;
	flex-direction: column;
	width: 400px;
}

.total-pagar {
	font-size: 35px;
	margin-bottom: 30px;
}

#precioTotalProductos {
	font-weight: bold;
}

.columna-flex a {
	font-size: 18px;
	font-family: 'Cabin', sans-serif;
	padding: 10px 20px;
	background-color: #81b12a;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}

.columna-flex a:hover {
	background-color: #e99733;
}


/* Arrow devolverse */
.container-devolver {
	width: 100%;
	max-width: 1400px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
}

.arrow-container {
	cursor: pointer;
	display: flex;
	justify-content: left;
	align-items: center;
}


.arrow-container span {
	margin-left: 10px;
	font-size: 20px;
}