/* Estilos de la barra de navegación */
.navegacion {
    display: flex;
    justify-content: space-between; 
    background-color: #ffffff;
    padding: 10px 20px;
}

.botones-navegacion {
    font-family: 'Manrope', sans-serif;
    font-size: 21px;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; 
}

.botones-navegacion ul {
    display: inline; 
}

.botones-navegacion ul li {
    display: inline;
    margin-right: 20px;
} 

.botones-navegacion ul li:last-child {
    margin-right: 0; 
}

.barra-navegacion nav ul li a {
    color: #000000;
    text-decoration: none;
}

/* Estilos del logo */
.logo {
    display: flex;
    align-items: center;
}

#logoFeriaCnp {
    width: 200px;
    margin-left: 45px;
}

/* Estilos del cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #ffffff;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

.container {
    max-width: 2000px;
    margin: 0 auto;
}

.perfil {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.perfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.perfil h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.perfil p {
    margin: 10px 0;
    font-size: 16px;
    color: #2E3C2D;
}


.perfil a[type="submit"] {
    display: block;
    /* width: 100%; */
    text-align: center;
    padding: 10px;
    background-color: #81B12A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.perfil a[type="submit"]:hover {
    background-color: #1F7544;
}
