/* Estilos de la barra de navegación */

.logo {
	width: 25%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#logoFeriaCnp {
	width: 200px;
	margin-left: 45px;
}

.carrito {
	width: 25%;
	display: flex;
	font-family: 'Cabin', sans-serif;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#textoCuenta {
	text-decoration: none;
	color: #000000;
	padding-right: 25px;
	font-size: 21px;
}

#logoCarrito {
	width: 100px;
}

.navegacion {
	height: 155px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* Estilos de la barra de navegación */
.barra-navegacion {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #000000;
	padding: 10px 20px;
}

.botones-navegacion {
	font-family: 'Cabin', sans-serif;
	font-size: 21px;
	margin-top: 15px;
	margin-bottom: 22px;
	word-spacing: 35px;
}

.barra-busqueda {
	margin-bottom: 15px;
}

#inputBusqueda {
	width: 550px;
}

.barra-navegacion nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.barra-navegacion nav ul li {
	display: inline;
}

.barra-navegacion nav ul li a {
	color: #000000;
	text-decoration: none;
	margin: 0 10px;
}

.barra-busqueda input[type='text'] {
	font-family: 'Cabin', sans-serif;
	font-size: 18px;
	padding: 10px;
	width: 300px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-right: 10px;
}

.barra-busqueda button {
	font-size: 18px;
	font-family: 'Cabin', sans-serif;
	padding: 10px 20px;
	background-color: #81b12a;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
body {
	font-family: 'Manrope', sans-serif;
}

select {
	font-family: 'Manrope', sans-serif;
}

button {
	font-family: 'Manrope', sans-serif;
}

.seccion-titulo {
	background-color: lightgray;
	margin-bottom: 40px;
	padding: 20px;
	margin-left: auto;
}

.titulo {
	font-weight: bold;
	font-size: 30px;
}

/*.......................................................fin de estilos nav...........................................................*/

body {
	font-family: 'Manrope', sans-serif;
}

select {
	font-family: 'Manrope', sans-serif;
}

button {
	font-family: 'Manrope', sans-serif;
}
.acciones-admin {
	text-align: center; /* Centra horizontalmente el contenido */
	margin-top: 200px;
}

.container {
	width: 100%;
	max-width: 1400px;
	margin-right: auto;
	margin-left: auto;
}

.contenedor-acciones {
	display: inline-block; /* Para que el enlace solo ocupe el área alrededor de la imagen y el texto */
	text-decoration: none;
	color: #1f7544;
	padding: 40px;
	font-size: 20px;
}

.contenedor-acciones img {
	width: 200px; /* Ancho imagen */
	height: 200px; /* Alto imagen */
	display: block;
	margin: 0 auto;
}

.contenedor-acciones h1 {
	margin-top: 20px;
}

.contenedor-acciones:hover {
	color: #d36c0c;
	background-color: lightgray;
}
