.error{
    border: 1px solid red;
}

body {
    font-family: 'Cabin', sans-serif;
    margin: 0;
    padding: 0;
}

.logo{
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;   
}

#logoFeriaCnp{
    width: 200px;
    margin-left: 45px;
}

#tituloF1A{
    display: flex;
    font-family: 'Manrope', sans-serif; 
    /* border: 2px solid red; */
    align-self: right;
    margin-right: 30px;
    margin-top: 40px;
    font-size: 28px;
    color: #2E3C2D 
    /* font-style:initial; */
}

#tituloF1B{
    display: flex;
    border: 2px  red; 
    align-self: center;
    /* margin-right: 30px; */
    margin-top: 25px;
    margin-left: 50px;
    font-size: 20px;
    flex-direction: row;
    text-align: center; 
    color: #2E3C2D  
}

#logoPerfil{
    width: 100px;
    display: flex;
    flex-direction: row;
    /* margin-left: 45px; */    
}

#tituloF2{
    display: flex;
    /* border: 2px solid red; */
    align-self: right;
    margin-right: 30px;
    margin-top: 40px;
     
}

#tituloForm{
    border: 5px solid #E5E5A4;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    background-color: #E5E5A4;
    padding: 20px;
    padding-left: 24px;  
    /* color: #2E3C2D; */
    font-size: 26px;
    text-align: center;
    /* font-family: 'Manrope', sans-serif; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
#headerUno{
    height: 155px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#formulario{
    border: 3px solid #1F7544; 
    background-color: #1F7544;   
} 

#formularioCuentaCliente{
    border: 5px solid #E5E5A4;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    background-color: white;
    padding: 20px;
    padding-left: 24px;    
}

#navUno{
    display: flex;
    /* border: 3px solid orange;  */
    font-size: 20px; 
    width: 250px;
    float: right; 
    text-align: right;
    /* margin-bottom:50px; */
    align-self: center;  
    margin-top: 50px;
    color: #2E3C2D 
}

#navDos{
    display: flex;
    /* border: 3px solid orange; */
    font-size: 20px;
    width: 250px;
    float: right; 
    text-align: right;
    /* margin-right:60px;  */
    align-self: center;   
    margin-top: 40px;
}

#a1{
    color: #2E3C2D;
    text-decoration: none; 
    padding: 18px;   
    /* font-size: 18px; */
}
#a1:hover{
    text-decoration: underline;
    color: #1F7544 
}
footer{
    /* border: 3px solid blue; */
    width: 100%;
    height: 155px;
    
    /* background-color: #E5E5A4   */
    
    

}